* {
  box-sizing: border-box;
  font-family: "Francois One", sans-serif;
  text-align: center;
}

header > h1 {
  font-size: 5vmin;
}

div > h3 {
  color: black;
  font-size: 2.5vmin;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url("https://i.postimg.cc/26DtF7Yd/e7d41f1499960e91abe3e2b6868a86e7.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1 vmin;
}

button:hover {
  transform: scale(0.8);
  transition: transform 200ms ease-in-out;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 12vmin);
  grid-template-rows: repeat(3, 12vmin);
  gap: 1.5vmin;
  margin-top: 5vmin;
}

#board > div {
  border-radius: 15%;
  border: 0.4vmin solid black;
}

button {
  margin-top: 5vmin;
  padding: 1.5vmin;
  font-size: 2vmin;
  border-radius: 2vmin;
  border: 0.2vmin solid black;
  color: black;
  background-image: url("https://i.postimg.cc/2jTxSg36/ancient-egypt-eye-of-horus-eye-of-providence-pyramid-texts-png-favpng-1c-Mxbhv-TLNniwq-F8z-Gu-FSkq-Su.jpg");
  background-size: cover;
}
